@import "../../styles/vars.scss";

.list {
    $row-z-index: 1;

    width: 100vw;
    margin-top: 4px;

    table {
        thead {
            th {
                position: sticky;
                top: 0;
                z-index: $row-z-index + 1;
            }
        }

        tbody {
            tr {
                z-index: $row-z-index;
            }
        }

        th,
        td {
            padding: 0 5px;
            white-space: nowrap;
        }
    }
}
