@import "../../styles/colours.scss";
@import "../../styles/vars.scss";

.list {
    width: 600px;
    max-width: 600px;

    table {
        width: 100%;
    }

    @media (orientation: portrait) {
        width: 100%;
        max-width: 100%;
    }

    .device {
        .icon,
        .state {
            display: flex;
        }

        .history {
            a,
            a:visited {
                @include colour("color", "text");
            }
        }

        &.hidden {
            opacity: 70%;
        }
    }
}
