@import "../../styles/colours.scss";
@import "../../styles/vars.scss";

.list {
    max-width: 600px;
    margin-left: calc(1rem + 8px);
    flex-direction: column;
    justify-content: center;

    .device {
        .state {
            display: flex;
        }

        .history {
            a,
            a:visited {
                @include colour("color", "text");
            }
        }

        &.hidden {
            opacity: 70%;
        }
    }
}
