@import "../../../../styles/colours.scss";
@import "../../../../styles/vars.scss";

.container {
    $border-width: 1px;

    display: flex;
    align-items: center;

    .icon {
        margin-right: 0.5rem;
    }

    .select {
        width: calc(#{$capability-slider-width} + 2 * #{$border-width});

        .control {
            @include colour("background-color", "input-background");
            outline: 0;

            &:hover {
                @include colour("border-color", "dialog-border");
            }

            .value {
                @include colour("color", "text");
            }

            .input {
                @include colour("color", "text");
            }
        }

        .menu {
            @include colour("background-color", "input-background");
            @include colour("border-color", "dialog-border");
            border: $border-width solid;

            .option {
                width: $capability-slider-width;
                @include colour("background-color", "input-background");
                @include colour("color", "text");

                &.focus {
                    @include colour("background-color", "input-highlight");
                }
            }
        }
    }
}
