@use "../../../styles/colours";
@use "../../../styles/vars";

.drawer {
    $drawer-width: 250px;
    $label-height: 200px;

    position: absolute;
    top: vars.$menu-height;
    left: 0;

    .filter {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        @include colours.colour("background-color", "filter-background");
        @include colours.colour("color", "filter-text");

        .content {
            width: 0;
            height: 100%;
            min-height: calc(100vh - 2px - #{vars.$menu-height});
            overflow: hidden;
            white-space: nowrap;
            transition: 0.8s ease width;
            @include colours.colour("border-color", "border");

            &.open {
                width: $drawer-width;
                border: 1px solid;
            }
        }

        .label {
            position: absolute;
            top: 0.5rem;
            left: 0;
            width: 24px;
            height: $label-height;
            display: flex;
            gap: 0.5rem;
            justify-content: center;
            align-items: center;
            @include colours.colour("background-color", "button");
            @include colours.colour("color", "text");
            outline: none;
            border: 1px solid;
            border-left: 0;
            @include colours.colour("border-color", "border");
            cursor: pointer;
            writing-mode: vertical-lr;
            text-orientation: sideways;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            transition: 0.8s ease left;
        }

        .content.open + .label {
            left: $drawer-width;
        }

        .content.closed:not(.all-closed) + .label {
            left: -#{$drawer-width};
        }

        &:nth-child(2) {
            .label {
                top: calc(#{$label-height} + 0.5rem * 2);
            }
        }
    }
}
