**/*.egg-info/
**/.pytest_cache/
**/**pycache**/
**/build/
**/db/
**/dist/
**/kubernetes/
**/node_modules/
**/platforms/
**/__snapshots__/
**/tests/
**/venv/
**/.coverage
**/coverage
**/*.dev.js
**/_.dev.ts
**/*.test.ts
**/*.test.tsx
**/test-setup.ts
**/test-setup.tsx
**/test_*.py
**/_.pyc
**/*.log
**/.eslintignore
**/.eslintrc
**/.gitignore
**/.pylintrc
**/Dockerfile
**/_.md
**/.git/
**/.github/
sensors/
services/shutdown/
