**/*.egg-info/
**/.pytest_cache/
**/__pycache__/
**/build/
**/dist/
**/node_modules/
**/platforms/
**/venv/
**/*.dev.js
**/*.pyc
**/*.log
**/.eslintignore
**/.eslintrc
**/.gitignore
**/Dockerfile
LICENSE
