**/*.egg-info/
**/.pytest_cache/
**/__pycache__/
**/bin/
**/build/
**/dist/
**/lib/
**/node_modules/
**/platforms/
**/venv/
**/*.py
**/*.pyc
**/*.log
**/.eslintignore
**/.eslintrc
**/.gitignore
**/Dockerfile
**/Pipfile.lock
