@import "../../../styles/colours.scss";
@import "../../../styles/vars.scss";

.item {
    height: $menu-height;
    flex: 1;
    font-size: 1.6rem;
    line-height: $menu-height;
    text-align: center;
    text-decoration: none;
    @include colour("background-color", "menu");
    @include colour("color", "text");
    border: 1px solid;
    @include colour("border-color", "menu-border");

    &.active {
        @include colour("background-color", "highlight");
    }

    @media (max-width: 500px) {
        .text {
            display: none;
        }
    }
}
