@import "../../../styles/vars.module.scss";

.menu {
    width: calc(100% - #{$logo-width});
    margin-left: $logo-width;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    .menu-item {
        height: $menu-height;
        flex: 1;
        font-size: 1.6rem;
        line-height: $menu-height;
        text-align: center;
        text-decoration: none;
        background-color: lightcyan;
        color: black;
        border: 1px solid black;

        &.active {
            background-color: lightskyblue;
        }

        @media (max-width: 500px) {
            .text {
                display: none;
            }
        }
    }
}
