.filter {
    display: flex;
    text-transform: capitalize;

    &:not(:first-child) {
        padding-left: 1rem;
    }

    &.meta {
        text-transform: none;
        font-style: italic;
    }
}
