@import "../../styles/vars.scss";

.list {
    width: fit-content;
    margin-top: 4px;

    table {
        th,
        td {
            padding: 0 5px;
            white-space: nowrap;
            user-select: none;
        }
    }
}
