@import "../../node_modules/react-datepicker/src/stylesheets/datepicker.scss";

#charts {
    .chart {
        $chart-size: 80vw;
        width: $chart-size;
        height: calc(#{$chart-size} / 2);
        padding: 0 2px;
    }
}

#chart-filters {
    label {
        display: inline-block;
        width: 3.75rem;
    }

    select {
        width: calc(100% - 4rem);
    }

    .loading {
        display: inline;
    }

    .react-datepicker-wrapper {
        width: calc(100% - 4rem);
    }

    .react-datepicker {
        width: 327px;
    }
}
