@import "../../node_modules/react-datepicker/src/stylesheets/datepicker.scss";

#charts {
    .chart {
        width: 600px;
        height: 300px;
    }

    @media screen and (max-width: 600px) {
        .chart {
            width: 400px;
            height: 200px;
        }
    }
}

#chart-filters {
    .react-datepicker-wrapper {
        width: inherit;
    }

    .react-datepicker {
        width: 327px;
    }
}
