#charts {
    .chart {
        width: 600px;
        height: 300px;
    }

    @media screen and (max-width: 600px) {
        .chart {
            width: 400px;
            height: 200px;
        }
    }
}
