#device-filters,
#device-list {
  label {
    display: flex;
  }
}

#device-list {
  flex-direction: column;
  justify-content: center;

  .device {
    max-width: 600px;

    .device-state {
      display: flex;

      .slider {
        $slider-width: 54px;
        $slider-height: 26px;

        width: $slider-width;
        height: $slider-height;
        position: relative;
        display: inline-block;
        cursor: pointer;

        input {
          display: none;

          &:indeterminate + .slider-bar {
            background-color: gray;
          }

          &:indeterminate + .slider-bar::before {
            transform: translateX(14px);
            transition: 0.25s;
          }

          &:checked + .slider-bar {
            background-color: green;
          }

          &:checked + .slider-bar::before {
            transform: translateX(28px);
          }
        }

        .slider-bar {
          width: $slider-width;
          height: $slider-height;
          position: absolute;
          top: 0;
          left: 0;
          background-color: red;
          border-radius: 20px;

          &.unknown {
            background-color: gray;

            &::before {
              color: gray;
              transform: translateX(14px);
              transition: 0.25s;
            }
          }

          &.on {
            background-color: green;

            &::before {
              color: green;
              transform: translateX(28px);
            }
          }

          &::before {
            width: 22px;
            height: 22px;
            position: absolute;
            top: 2px;
            left: 2px;
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            color: red;
            content: "\f011"; // power icon
            line-height: 22px;
            text-align: center;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            background-color: white;
            border-radius: 50%;
            transition: 0.25s;
          }

          &.loading {
            background-color: gray;

            &::before {
              color: gray;
              content: "\f110"; // spinner
              animation-name: slide, spin;
              animation-duration: 0.25s, 2s;
              animation-delay: 0s, 0.25s;
              animation-iteration-count: 1, infinite;
              animation-fill-mode: both, none;

              @keyframes slide {
                to {
                  transform: translateX(14px);
                }
              }

              @keyframes spin {
                0% {
                  transform: translateX(14px) rotate(0deg);
                }
                100% {
                  transform: translateX(14px) rotate(360deg);
                }
              }
            }
          }
        }
      }
    }
  }
}

.device-icon {
  min-width: 25px;
  max-width: 25px;
  text-align: center;
}
