@function str-camel-case($string) {
    $remaining: $string;
    $result: "";

    @while str-length($remaining) > 0 {
        $char: str-slice($remaining, 1, 1);

        @if $char == "-" {
            $remaining: str-proper-case(str-slice($remaining, 2, 2)) + str-slice($remaining, 3);
        } @else {
            $result: $result + $char;
            $remaining: str-slice($remaining, 2);
        }
    }

    @return $result;
}

@function str-proper-case($string) {
    @return to-upper-case(str-slice($string, 1, 1)) + str-slice($string, 2);
}
