#history-list {
    table {
        min-width: 80%;

        tr {
            &:nth-child(even) {
                background-color: lightgray;
            }

            &:hover {
                background-color: $hover-colour;
            }
        }
    }
}
