#history-filters {
  label {
    display: inline-block;
    width: 3.75rem;
  }

  select {
    width: calc(100% - 4rem);
  }
}

#history-list {
  table {
    width: 100%;

    th,
    td {
      padding: 0 5px;
    }

    tbody {
      tr {
        &:nth-child(even) {
          td {
            background-color: $highlight-colour;
          }
        }
      }
    }

    @media screen and (max-width: 600px) {
      tr {
        display: block;
        clear: both;
      }

      tbody {
        tr {
          &:nth-child(odd) {
            background-color: inherit;
          }
        }
      }

      th:last-child,
      td:last-child {
        width: 100%;
        float: left;
      }
    }
  }
}
