@import "./vars.scss";

#home {
    #layout {
        svg {
            width: auto;
            max-width: 90vw;
            height: calc(90vh - #{$menu-height});
            margin-top: $menu-height;

            polygon,
            rect {
                pointer-events: all;
                fill: none;
                stroke: black;

                &:hover {
                    fill: lightgrey;
                }
            }
        }
    }

    div[data-id="tooltip"] {
        h3,
        p {
            margin: 0;
        }
    }
}
