@import "./vars.scss";

body {
    margin: 0;
}

.header {
    width: 100%;
    height: $menu-height;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    background-color: black;

    .logo {
        width: $menu-height;
        position: absolute;
        top: 0;
        left: 0;
        white-space: nowrap;
        transform: rotate(-90deg) translateY(-#{$menu-height});
        transform-origin: $menu-height 0;
        background-color: black;
        color: white;
        font-size: 0.8rem;
        text-align: center;
        border: 1px solid black;
    }

    .menu {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        .menu-element {
            height: $menu-height;
            flex: 1;
            font-size: 1.6rem;
            line-height: $menu-height;
            text-align: center;
            text-decoration: none;
            background-color: lightcyan;
            color: black;
            border: 1px solid black;

            &.active {
                background-color: lightskyblue;
            }
        }
    }
}

.content {
    margin: $menu-height 0 0 calc(1rem + 8px);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    overflow: hidden;

    .filter {
        height: 100%;
        padding: 2px 30px 2px 2px;
        position: fixed;
        top: calc(#{$menu-height} + 1px);
        left: 0;
        z-index: 1;
        background-color: black;
        color: white;
        transform: translateX(calc(25px - 100%));

        .filter-button {
            height: 100%;
            display: inline-flex;
            position: fixed;
            right: 0;
            align-items: flex-start;
            cursor: pointer;
            background-color: black;
            color: white;
            border: 0;
            outline: none;
        }

        &.slide-in {
            animation: filter-slide-in 0.8s forwards;
        }

        &.slide-out {
            animation: filter-slide-out 0.8s forwards;
        }

        @keyframes filter-slide-in {
            100% {
                transform: translateX(0%);
            }
        }

        @keyframes filter-slide-out {
            0% {
                transform: translateX(0%);
            }
            100% {
                transform: translateX(calc(25px - 100%));
            }
        }
    }

    .list {
        max-width: calc(100vw - 1rem - 8px);
        overflow: auto;
    }

    .loading {
        margin-top: 10px;
    }
}
