$menu-height: 4rem;

body {
  margin: 0;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  .menu {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    .menu-element {
      height: $menu-height;
      flex: 1;
      font-size: 1.6rem;
      line-height: $menu-height;
      text-align: center;
      text-decoration: none;
      background-color: lightcyan;
      color: black;
      border: 1px solid black;

      &.active {
        background-color: lightskyblue;
      }
    }
  }
}

.content {
  margin-top: $menu-height;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  .filter {
    height: 100%;
    padding: 2px 30px 2px 2px;
    position: fixed;
    top: calc(#{$menu-height} + 1px);
    left: 0;
    z-index: 1;
    background-color: black;
    color: white;
    transform: translateX(calc(25px - 100%));

    .filter-button {
      position: fixed;
      right: 0;
      cursor: pointer;
      background-color: black;
      color: white;
      border: 0;
      outline: none;
    }

    &.slide-in {
      animation: filter-slide-in 0.8s forwards;
    }

    &.slide-out {
      animation: filter-slide-out 0.8s forwards;
    }

    @keyframes filter-slide-in {
      100% {
        transform: translateX(0%);
      }
    }

    @keyframes filter-slide-out {
      0% {
        transform: translateX(0%);
      }
      100% {
        transform: translateX(calc(25px - 100%));
      }
    }
  }

  .loading {
    margin-top: 10px;
  }
}
