#menu {
  background-color: lightblue;

  nav {
    display: flex;

    a {
      color: black;
      text-decoration: none;
      font-size: 1.4em;
    }
  }

  .active .menu-element {
    background-color: lightskyblue;
  }

  .menu-element {
    width: calc(25vw);
    height: 50px;
    border: 1px solid black;
    line-height: 50px;
    text-align: center;

    &:hover {
      background-color: $hover-colour;
    }
  }
}

.filters,
.list {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
