[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lazy = "~=1.4"
powerpi-common = {path = "./../../common/python"}
pysqlite3-binary = "~=0.4.6"
zigpy = "~=0.43.0"
zigpy-znp = "~=0.7.0"

[dev-packages]
autopep8 = "~=1.5.5"
powerpi-common-test = {editable = true, path = "./../../common/pytest"}
pylint = "~=2.7.1"

[requires]
python_version = "3"

[scripts]
start = "python -m zigbee_controller"
test = "python -m pytest -v"
scan = "python -m zigpy_znp.tools.network_scan"
