{{- $data := dict
  "Schedule" (.Values.schedule | default "5 5 * * *")
  "ActiveDeadlineSeconds" (.Values.timeout | default 3600)
  "Command" (list "./powerpi_energy_monitor")
  "Args" (list 
    (print "--history=" (.Values.history | default 30))
  )
  "MqttSecret" "mosquitto-sensor-secret"
  "Secret" (list
    (dict
      "Name" "octopus-api-secret"
      "Env" (list
        (dict
          "Name" "OCTOPUS_API_KEY_FILE"
          "SubPath" "key"
        )
      )
    )
  )
}}

{{- include "powerpi.cron-job" (merge (dict "Params" $data) .) }}
