<table>
    <tr>
        <th>Device</th>
        {% if show_all %}
        <th>Type</th>
        {% endif %}
        <th>Status</th>
        <th></th>
    </tr>
    {% for device in devices %}
    {% if show_all or device.visible %}
    <tr>
        <td>{{ device.name }}</td>
        {% if show_all %}
        <td>{{ device.device_type }}</td>
        {% endif %}
        <td>{{ device.status }}</td>
        <td>
            {% if device.status != 'on' %}
            <a href="{{ 'on?format=html&device=%s' % device.name }}">on</a>
            {% endif %}
            {% if device.status != 'off' %}
            <a href="{{ 'off?format=html&device=%s' % device.name }}">off</a>
            {% endif %}
        </td>
    </tr>
    {% endif %}
    {% endfor %}
</table>