@import "../../../styles/vars.scss";

.list {
    max-height: 100vh;
    position: relative;
    left: calc(#{$logo-width} + 2px);
    max-width: calc(100vw - #{$logo-width});
    margin: 0;
    overflow: auto;
}
