{{- $data := dict
  "MqttSecret" "mosquitto-persistence-secret"
  "Env" (list
    (dict
      "Name" "HEALTH_CHECK_FILE"
      "Value" "/tmp/powerpi_health"
    )
  )
  "Secret" (list
    (dict
      "Name" "database-secret"
      "Env" (list
        (dict
          "Name" "DB_HOST"
          "Value" "database"
        )
        (dict
          "Name" "DB_SCHEMA"
          "Key" "schema"
        )
        (dict
          "Name" "DB_USER"
          "Key" "username"
        )
        (dict
          "Name" "DB_SECRET_FILE"
          "SubPath" "password"
        )
      )
    )
  )
  "Probe" (dict
    "Command" (list
      "/bin/sh"
      "/home/node/app/node_modules/@powerpi/common/dist/health.sh"
      "12"
      "/tmp/powerpi_health"
    )
    "ReadinessInitialDelay" 10
    "LivenessInitialDelay" 20
  )
}}
{{- include "powerpi.deployment" (merge (dict "Params" $data) . )}}
