.clickable {
    position: relative;
    cursor: pointer;

    .gear {
        position: absolute;
        top: 17px;
        left: 15px;
        font-size: 0.5rem;
    }
}

.dialog {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    & > div {
        margin-bottom: 10px;

        &:last-child {
            margin: 0;
        }
    }
}
