[Unit]
Description=Service to listen for shutdown events and turn off the computer.
After=time-sync.target
StartLimitBurst=20

[Service]
ExecStart=/usr/local/powerpi_shutdown --host [YOUR_HOSTNAME_HERE]
User=root
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
