@use "sass:math";
@import "../../../../styles/vars.scss";

.wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &.disabled {
        opacity: 0.5;
    }

    .slider {
        position: relative;
        width: $capability-slider-width;
        height: 10px;
    }

    .box {
        position: relative;
        width: math.div($capability-slider-width, 2);
        height: math.div($capability-slider-width, 2);
    }
}
