.wrapper {
    width: #{129px + 16px + 16px};
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .slider {
        position: relative;
        width: 129px;
        height: 10px;
        border-radius: 2px;
    }

    .box {
        position: relative;
        width: 75px;
        height: 75px;
    }
}
