@use "sass:math";
@import "../../../../styles/colours.scss";
@import "../../../../styles/vars.scss";

.wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &.disabled {
        opacity: 0.5;
    }

    .slider {
        position: relative;
        height: 10px;

        :global {
            .hue-horizontal {
                height: 10px;
                width: calc(#{$capability-slider-width} - 4px);
                margin-left: 2px;
                @include colour("background-color", "highlight");
                border: 0.1px solid;
                border-radius: 6px;
                @include colour("border-color", "dialog-border");
                cursor: pointer;

                & > div {
                    height: 15px;
                    width: 4px;
                    margin: -3px 0 -2.5px 0;
                    @include colour("background-color", "button");
                    border: 0.1px solid;
                    border-radius: 5px;
                    @include colour("border-color", "dialog-border");
                    box-shadow: 1.2px 1.2px;
                    @include colour("color", "shadow");

                    & > div {
                        display: none;
                    }
                }
            }
        }
    }

    .box {
        position: relative;
        width: math.div($capability-slider-width, 2);
        height: math.div($capability-slider-width, 2);
        border: 0.1px solid;
        @include colour("border-color", "dialog-border");
        cursor: pointer;
    }
}
