@import "../../styles/vars.scss";

.home {
    div[data-id="tooltip"] {
        h3,
        p {
            margin: 0;
            line-height: 1rem;
        }

        p {
            display: flex;
            justify-content: space-between;

            sup {
                vertical-align: top;
                position: relative;
                top: -0.1rem;
            }

            time {
                padding-left: 0.5rem;
                font-style: italic;
                font-size: 0.7rem;
            }

            & > * {
                white-space: nowrap;
            }
        }
    }
}
