@import "../../styles/colours.scss";
@import "../../styles/vars.scss";

body {
    margin: 0;
    @include colour("background-color", "background");
    @include colour("color", "text");
}

.header {
    width: 100%;
    height: calc($menu-height + 2px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    @include colour("background-color", "filter-background");

    .logo {
        width: $menu-height;
        height: $logo-width;
        position: absolute;
        top: 0;
        left: 0;
        white-space: nowrap;
        transform: rotate(-90deg) translateY(-#{$menu-height}) translateX(-2px);
        transform-origin: $menu-height 0;
        line-height: $logo-width;
        font-size: 0.8rem;
        text-align: center;
        @include colour("background-color", "filter-background");
        @include colour("color", "filter-text");
        border: 1px solid;
        @include colour("border-color", "menu-border");

        a {
            text-decoration: none;
            color: currentColor;

            &:visited {
                color: currentColor;
            }
        }
    }
}

.content {
    margin: $menu-height 0 0 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    overflow: hidden;
}

table {
    border-spacing: 0;

    thead {
        tr {
            th {
                @include colour("background-color", "thead");
                border-bottom: 1px solid;
                border-right: 1px solid;
                @include colour("border-color", "border");
            }
        }
    }

    tbody {
        tr {
            &:nth-child(even) {
                td {
                    @include colour("background-color", "highlight");
                }
            }
        }
    }
}
