apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-config
  {{- include "powerpi.labels.no-version" . }}
data:
  nginx.conf: |-
{{ .Files.Get "nginx.conf" | indent 4 }}
  security-headers.conf: |-
{{ .Files.Get "security-headers.conf" | indent 4 }}
