{{- $data := dict
  "RunAsUser" 101
  "EmptyDirVolumes" (list
    (dict
      "Name" "nginx-cache"
      "Path" "/var/cache/nginx"
    )
    (dict
      "Name" "nginx-run"
      "Path" "/var/run"
    )
  )
  "RequestMemory" "25Mi"
  "LimitMemory" "100Mi"
  "Ports" (list (dict
    "Name" "http"
    "Port" 8080
  ))
  "Replicas" 2
  "Config" (list
    (dict
      "Name" "nginx-config"
      "Path" "/etc/nginx/conf.d/default.conf"
      "SubPath" "nginx.conf"
    )
    (dict
      "Name" "nginx-config"
      "Path" "/etc/nginx/security-headers.conf"
      "SubPath" "security-headers.conf"
    )
  )
  "Probe" (dict
    "Http" "/health"
    "ReadinessInitialDelay" 5
    "LivenessInitialDelay" 10
  )
-}}
{{- include "powerpi.deployment" (merge (dict "Params" $data) . ) -}}
