@import "../../styles/colours.scss";
@import "../../styles/vars.scss";

body {
    margin: 0;
    @include colour("background-color", "background");
    @include colour("color", "text");
}

.header {
    width: 100%;
    height: calc($menu-height + 2px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    @include colour("background-color", "filter-background");

    .logo {
        width: $menu-height;
        height: $logo-width;
        position: absolute;
        top: 0;
        left: 0;
        white-space: nowrap;
        transform: rotate(-90deg) translateY(-#{$menu-height}) translateX(-2px);
        transform-origin: $menu-height 0;
        line-height: $logo-width;
        font-size: 0.8rem;
        text-align: center;
        @include colour("background-color", "filter-background");
        @include colour("color", "filter-text");
        border: 1px solid;
        @include colour("border-color", "menu-border");

        a {
            text-decoration: none;
            color: currentColor;

            &:visited {
                color: currentColor;
            }
        }
    }
}

.content {
    margin: $menu-height 0 0 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    overflow: hidden;
}

table {
    border-spacing: 0;

    thead {
        tr {
            th {
                @include colour("background-color", "thead");
                border-bottom: 1px solid;
                border-right: 1px solid;
                @include colour("border-color", "border");
            }
        }
    }

    tbody {
        tr {
            &:nth-child(even) {
                td {
                    @include colour("background-color", "highlight");
                }
            }
        }
    }
}

input {
    &[type="checkbox"],
    &[type="radio"] {
        @include colour("accent-color", "input-background");
    }

    &[type="range"] {
        height: 10px;
        -webkit-appearance: none;
        appearance: none;
        background: transparent;
        border-radius: 6px;
        cursor: pointer;

        &::-webkit-slider-runnable-track {
            height: 10px;
            @include colour("background-color", "input-background");
            border: 0.1px solid;
            border-radius: 6px;
            @include colour("border-color", "dialog-border");
        }

        &::-moz-range-track {
            height: 10px;
            @include colour("background-color", "input-background");
            border: 0.1px solid;
            border-radius: 6px;
            @include colour("border-color", "dialog-border");
        }

        &::-webkit-slider-thumb {
            height: 15px;
            width: 15px;
            position: relative;
            clip-path: polygon(0 0, 50% 50%, 100% 0);
            transform: translateY(-25%);
            -webkit-appearance: none;
            appearance: none;
            @include colour("background-color", "input-foreground");
        }

        &::-moz-range-thumb {
            height: 15px;
            width: 15px;
            margin-top: -0.25rem;
            clip-path: polygon(0 0, 50% 50%, 100% 0);
            transform: translateY(-25%);
            -webkit-appearance: none;
            appearance: none;
            @include colour("background-color", "input-foreground");
        }
    }
}
