@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .vertical-writing-lr {
        writing-mode: vertical-lr;
    }

    .icon-xs {
        font-size: 0.5rem;
    }

    .icon-m {
        font-size: 1rem;
    }
}

input[type="search"] {
    &::-webkit-search-cancel-button {
        display: none;
    }
}
