apiVersion: v2
name: powerpi
description: A Helm chart for deploying the PowerPi home automation stack
type: application
version: 1.0.1
appVersion: 1.0.1
dependencies:
  - name: api
    version: 0.3.3
  - name: config-server
    version: 0.1.20
    condition: global.config
  - name: database
    version: 0.1.4
    condition: global.persistence
  - name: energy-monitor
    version: 0.1.11
    condition: global.energyMonitor
  - name: event
    version: 0.0.4
    condition: global.event
  - name: mosquitto
    version: 0.3.3
  - name: persistence
    version: 0.1.13
    condition: global.persistence
  - name: scheduler
    version: 0.2.14
    condition: global.scheduler
  - name: smarter-device-manager
    version: 0.1.3
  - name: ui
    version: 0.3.3
  - name: voice-assistant
    version: 0.3.3
    condition: global.voiceAssistant
  - name: energenie-controller
    version: 0.1.13
    condition: global.energenie
  - name: harmony-controller
    version: 0.1.18
    condition: global.harmony
  - name: lifx-controller
    version: 0.1.13
    condition: global.lifx
  - name: network-controller
    version: 0.1.11
    condition: global.network
  - name: snapcast-controller
    version: 0.0.9
    condition: global.snapcast
  - name: virtual-controller
    version: 0.2.8
  - name: zigbee-controller
    version: 0.2.1
    condition: global.zigbee
