{{- $ssl := eq (include "powerpi.mosquitto-ssl" .) "true" -}}

{{/* Required: Wake-on-LAN needs raw layer-2 socket access to send magic packets. */}}
{{-
    $data := dict
    "HostNetwork" (true | quote)
    "Capabilities" (list "NET_RAW")
    "Env" (list
        (dict
            "Name" "MQTT_ADDRESS"
            "Value" (ternary (print "mqtts://" .Values.global.mosquittoHostName ":8883") "mqtt://mosquitto:1883" $ssl)
        )
    )
-}}

{{- include "powerpi.controller" (merge (dict "Params" $data) . ) -}}
