@import "../../styles/vars.scss";

.list {
    margin-left: calc(1rem + 8px);
    flex-direction: column;
    justify-content: center;

    .device {
        max-width: 600px;

        .state {
            display: flex;
        }
    }
}
