{{- $needsNodeSelector := include "powerpi.persistent-volume-node-selector" . -}}
{{- $nodeSelector := ternary (list
  (dict
    "Name" $needsNodeSelector
    "Value" "true"
  )
) (list) (not (empty $needsNodeSelector))
-}}

{{/* Temporary: official postgres image runs as root and uses gosu to switch to the
     postgres user. It needs full capabilities to chown the data directory and
     setuid/setgid for the user switch. Replace with a custom non-root image
     in Step 21b to remove these overrides. */}}
{{- $data := dict
  "Kind" "StatefulSet"
  "Image" "postgres"
  "RunAsNonRoot" "false"
  "AllowPrivilegeEscalation" "true"
  "DropCapabilities" "false"
  "PriorityClassName" "powerpi-critical"
  "RequestMemory" "50Mi"
  "Ports" (list (dict
    "Name" "postgres"
    "Port" 5432
  ))
  "NodeSelector" $nodeSelector
  "PersistentVolumeClaim" (dict
    "Name" "database-data"
    "Path" "/var/lib/postgresql/data/pgdata"
    "EnvName" "PGDATA"
  )
  "Secret" (list
    (dict
      "Name" "database-secret"
      "Env" (list
        (dict
          "Name" "POSTGRES_DB"
          "Key" "schema"
        )
        (dict
          "Name" "POSTGRES_USER"
          "Key" "username"
        )
        (dict
          "Name" "POSTGRES_PASSWORD_FILE"
          "SubPath" "password"
        )
      )
    )
  )
  "EmptyDirVolumes" (list
    (dict
      "Name" "postgresql-run"
      "Path" "/var/run/postgresql"
    )
  )
  "Probe" (dict
    "Tcp" true
    "ReadinessInitialDelay" 25
    "LivenessInitialDelay" 50
  )
}}

{{- include "powerpi.deployment" (merge (dict "Params" $data) . )}}
