@import "../../../styles/vars.module.scss";

.chart {
    $chart-size: 80vw;

    width: $chart-size;
    height: min(#{$chart-size} / 2, 90vh - #{$menu-height});
    padding: 0 2px;

    @media (orientation: portrait) {
        $chart-size: calc(90vh - #{$menu-height});
        width: min(#{$chart-size} / 2, 90vw);
        height: $chart-size;
    }
}
