@import "../../styles/colours.scss";

.login {
    padding-top: 20px;

    button {
        padding: 20px 30px;
        font-size: 1.2rem;
        @include colour("background-color", "menu");
        @include colour("color", "text");
        border: 1px solid;
        @include colour("border-color", "menu-border");

        &:hover {
            cursor: pointer;
            @include colour("background-color", "highlight");
        }
    }
}
