@import "../../../styles/colours.scss";

.button {
    padding: 3px 6px;
    cursor: pointer;
    @include colour("background-color", "button");
    @include colour("color", "text");
    border: 1px solid;
    @include colour("border-color", "border");
    border-radius: 4px;

    &.text {
        padding: 0.4rem 0.6rem;

        svg {
            margin-right: 0.4rem;
        }
    }
}
