.charts {
    margin-left: calc(1rem + 8px);
}

.chart-filters {
    label {
        display: inline-block;
        width: 3.75rem;
    }

    select {
        width: calc(100% - 4rem);
    }

    .loading {
        display: inline;
    }

    .react-datepicker-wrapper {
        width: calc(100% - 4rem);
    }

    .react-datepicker {
        width: 327px;
    }
}
