[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dependency-injector = "~=4.27.0"
paho-mqtt = "~=1.5.1"

[dev-packages]
autopep8 = "~=1.5.5"
pylint = "~=2.7.1"
pytest = "~=6.2.2"
pytest-mock = "~=3.5.1"

[requires]
python_version = "3"

[scripts]
test = "python -m pytest -v"
