[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apscheduler = "~=3.8.1"
dependency-injector = "~=4.27.0"
gmqtt = "~=0.6.11"
jsonpatch = "~=1.32"

[dev-packages]
autopep8 = "~=1.5.5"
powerpi-common-test = {editable = true, path = "./../pytest"}
pylint = "~=2.7.1"

[requires]
python_version = "3"

[scripts]
test = "python -m pytest -v"
