@import "../../styles/colours.scss";
@import "../../styles/vars.scss";

.layout {
    height: calc(100vh - #{$menu-height} - 10px - #{$floor-menu-height});
    display: flex;
    flex-direction: column;
    justify-content: center;

    svg {
        width: auto;
        max-width: 90vw;
        height: calc(90vh - #{$menu-height} - #{$floor-menu-height});

        g {
            &.floor {
                display: none;

                &.visible {
                    display: initial;
                }
            }
        }

        polygon,
        rect {
            pointer-events: all;
            fill: none;
            @include colour("stroke", "text");
            outline: none;

            &:hover {
                @include colour("fill", "highlight");
            }
        }
    }
}
