@import "../../styles/colours.scss";
@import "../../styles/vars.scss";

.layout {
    height: calc(100vh - #{$menu-height} - 10px - #{$floor-menu-height});
    margin-top: 10px;

    svg {
        width: auto;
        max-width: 90vw;
        height: calc(90vh - #{$menu-height} - #{$floor-menu-height});

        &.rotate {
            width: calc(90vh - #{$menu-height} - #{$floor-menu-height});
            max-width: initial;
            height: auto;
            max-height: 90vw;
            transform: rotate(90deg) translateX(-35%);
            transform-origin: center;

            &.wide {
                transform: rotate(90deg) translateX(35%);
            }
        }

        g {
            &.floor {
                display: none;

                &.visible {
                    display: initial;
                }
            }
        }

        polygon,
        rect {
            pointer-events: all;
            fill: none;
            @include colour("stroke", "text");
            outline: none;

            &:hover {
                @include colour("fill", "highlight");
            }
        }
    }
}
