@import "../../styles/colours.scss";

.tooltip {
    @include colour("background-color", "menu");
    @include colour("color", "text");

    h3,
    p {
        margin: 0;
        line-height: 1rem;
    }

    .sensors {
        $icon-width: 18px;
        $battery-width: 18px;
        $title-width: auto;
        $state-width: auto;
        $since-width: 9ch;

        display: grid;
        gap: 2px 0;
        grid-template-columns: $icon-width $title-width $state-width $since-width;

        &.battery {
            grid-template-columns: $icon-width $battery-width $title-width $state-width $since-width;
        }

        .icon {
            padding: 0;
        }

        .title {
            font-weight: 500;
            margin-right: 0.4rem;
        }

        .time {
            text-align: right;
            font-style: italic;
            font-size: 0.7rem;
            line-height: 1rem;
        }

        .title,
        .state,
        .time {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}
