{{- $ssl := eq (include "powerpi.mosquitto-ssl" .) "true" -}}

{{- $needsNodeSelector := include "powerpi.persistent-volume-node-selector" . -}}
{{- $nodeSelector := ternary (list
  (dict
    "Name" $needsNodeSelector
    "Value" "true"
  )
) (list) (not (empty $needsNodeSelector))
-}}

{{- $ports := list (dict
  "Name" "mqtt"
  "Port" 1883
)
-}}
{{- if $ssl -}}
{{- $ports = append $ports (dict
  "Name" "mqtts"
  "Port" 8883
) -}}
{{- end -}}

{{- $secrets := list (dict
  "Name" "mosquitto-passwords-secret"
) -}}

{{- if $ssl -}}
{{- $secrets = append $secrets (dict 
  "Name" "mosquitto-cert"
) -}}
{{- end -}}

{{- $data := dict
  "Kind" "StatefulSet"
  "Image" "eclipse-mosquitto"
  "RunAsUser" 1883
  "PriorityClassName" "powerpi-critical"
  "Command" (list "/bin/sh" "-c")
  "Args" (list
    "cd /mosquitto/auth && cp /var/run/secrets/mosquitto-passwords-secret/passwords passwords && chmod 0700 passwords && mosquitto_passwd -U passwords && exec /usr/sbin/mosquitto -c /mosquitto/config/mosquitto.conf"
  )
  "EmptyDirVolumes" (list
    (dict
      "Name" "mosquitto-auth"
      "Path" "/mosquitto/auth"
    )
  )
  "Annotations" (list
    (dict
      "Name" "checksum/mosquitto-passwords-secret"
      "Value" (include (print $.Template.BasePath "/secret.yaml") $ | sha256sum)
    )
    (dict
      "Name" "checksum/mosquitto-cert"
      "Value" ((lookup "v1" "Secret" .Release.Namespace "mosquitto-cert").data | default dict | toString | sha256sum)
    )
  )
  "Ports" $ports
  "NodeSelector" $nodeSelector
  "PersistentVolumeClaim" (dict
    "Name" "mosquitto-data"
    "Path" "/mosquitto/data"
  )
  "Config" (list
    (dict
      "Name" "mosquitto-config"
      "Path" "/mosquitto/config"
    )
  )
  "Secret" $secrets
  "Probe" (dict
    "Tcp" true
    "ReadinessInitialDelay" 5
    "LivenessInitialDelay" 10
  )
-}}

{{- include "powerpi.deployment" (merge (dict "Params" $data) . ) -}}
