{{- $data := dict
  "Schedule" (.Values.schedule | default "*/5 * * * *")
  "ActiveDeadlineSeconds" (.Values.timeout | default 240)
  "Command" (list "yarn")
  "Args" (list 
    "workspace"
    "@powerpi/config-server"
    "start:prd"
  )
  "PriorityClassName" "powerpi-critical"
  "MqttSecret" "mosquitto-config-secret"
  "Secret" (list
    (dict
      "Name" "github-secret"
      "Env" (list
        (dict
          "Name" "GITHUB_SECRET_FILE"
          "SubPath" "password"
        )
        (dict
          "Name" "GITHUB_USER"
          "Key" "username"
        )
      )
    )
  )
  "Env" (list
    (dict
      "Name" "REPO"
      "Value" .Values.repo
    )
    (dict
      "Name" "FILE_PATH"
      "Value" .Values.path
    )
    (dict
      "Name" "BRANCH"
      "Value" .Values.branch
    )
    (dict
      "Name" "SCHEDULER_ENABLED"
      "Value" (.Values.global.scheduler | quote)
    )
    (dict
      "Name" "EVENTS_ENABLED"
      "Value" (.Values.global.event | quote)
    )
  )
-}}
{{- include "powerpi.cron-job" (merge (dict "Params" $data) . ) -}}
