.title {
    margin: 0;
}

.filter {
    display: flex;
    text-transform: capitalize;

    &:not(:nth-child(2)) {
        padding-left: 1rem;
    }

    &.meta {
        text-transform: none;
        font-style: italic;
    }
}
