[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lifxlan = "~=1.2.7"
powerpi-common = {path = "./../../common/python"}

[dev-packages]
autopep8 = "~=1.5.5"
powerpi-common-test = {editable = true, path = "./../../common/pytest"}
pylint = "~=2.7.1"

[requires]
python_version = "3.8"

[scripts]
start = "python -m lifx_controller"
test = "python -m pytest -v --cov=lifx_controller"
